html,body{
    width:100%;
}

.container {
  width:100%;
  margin-bottom: 5vw
}

.addquestion-heading {
    text-align:center;
    font-size: 2vw;
    margin-top: 5%;
    margin-bottom: 5%;
    color: blue;
}

.button {
    text-align: center;
    margin-bottom:3vh;
}

.label {
    color:black;
    font-size: 1.3vw;
    margin-left:30%;
}

.question-data {
    width:40%;
    margin-left:30%; 
    margin-top:0.5%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    padding-right:50px
  }

input[type=radio] {
  margin-top:0.5%;
  margin-left:32%; 
  padding-left: 50%
  }

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
input[type=submit]:hover {
    background-color: #45a049;
  }