<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="./css/login.css">

</head>
<body>
    <div class ="di">
        <form action="/login" method="POST">
            <p> 
                <label>username</label>
                <input type="text" name="username" id="user">
            </p>
            <p>
                <label>Password</label>
                <input type="password" name="password" id ="password">
            </p>
            <p>
                <input type = "submit" value="Submit" id ="submit">
            </p>
        </form>
        <form action="/signup">
            <input type="submit" id="submit" value="Signup">
        </form>
    </div>
</body>
</html>
