<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link rel="stylesheet" type="text/css" media="screen" href="./css/leaderboard.css">
</head>
<body>
    <p class="leaderboard-heading">Leaderboard</p>
    <table class="table">
        <tr>
            <th>User</th>
            <th>Points</th>
        </tr>
        {%for row in arr%}
            <tr>
                <td>{{row.user}}</td>
                <td>{{row.score}}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>