<!DOCTYPE html>
<html>
<head>
    <title>Problems</title>
    <link rel="stylesheet" type="text/css" media="screen" href="./css/question.css">
</head>
<body>
    <div class="container">
        <p class="addquestion-heading">PROBLEMS</p>
        {% for i in 0..(data|length)/4 %}
            <form method="POST" action="/question">
                <p class="question-data">
                    {{i + 1}} - {{data[i*4].text}}
                </p>
                <input type="text" value="{{data[i*4].question_number}}" name="question_number" hidden="true">
                {% for j in 0..3 %}
                    <p>
                        <input type= "radio" name="option{{i}}" value="{{data[i*4+j].options}}">{{data[i*4+j].options}} 
                    </p>
                {% endfor %}
                <div class="button">
                    <input type="submit" value="Submit" name="submit">
                </div>
            </form>
        {% endfor %}
    </div>
</body>
</html>